<!DOCTYPE html>
<html>
<head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/template.css">
    <!--STYLES END-->
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav-links">
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="#" target="_blank">Top</a></li>
                <li class="nav-link"><a href="#" target="_blank">New</a></li>
                <li class="nav-link">|</li>
                <li class="nav-link"><a href="#" target="_blank">Sub1</a></li>
                <li class="nav-link"><a href="#" target="_blank">Sub2</a></li>
                <li class="nav-link"><a href="#" target="_blank">Sub3</a></li>
                <li class="nav-link"><a href="#" target="_blank">Sub4</a></li>
            </ul>
        </nav>
        <div class="title-bar">
            <h1 class="title-name"><a href="/">Radfit</a></h1>
            <div class="search">
                <input type="text" name="searchString" id="searchString">
                <button onclick="searchTweets()">Search</button>
            </div>
            <div class="login-buttons">
            <% if(req.session.userName){ %>
                <span class="tab"><%= req.session.userName %></span>
                <a href="/logout"><span class="tab">Logout</span></a>
            <% }else{ %>
                <a href="/login"><span class="tab">Login</span></a>
                <a href="/addUser"><span class="tab">Register</span></a>
            <% } %>
            </div>
        </div>
    </header>
	<%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script>
    function searchTweets(){
        var searchInput = document.getElementById('searchString').value;
        var url = "http://localhost:1337/search/" + searchInput;
        console.log(url);
        window.location.href = url;
    }
</script>
</body>
</html>