<h1>Login</h1>
<form method="post" action="/loginUser">
    <p>Username:</p>
    <input type="text" name='username' id='un'>
    <p>Password:</p>
    <input type="password" name='password' id='pw'>
    </br>
    <p>
        <input type="submit" value="Login">
    </p>
</form>

<script>
    // function createUser(){
    //     var un = document.getElementById('un').value;
    //     var pw = document.getElementById('pw').value;
    //     var url = "http://localhost:1337/adduser" + "/" + un + "/" + pw;
    //     console.log(url);
    //     window.location.href = url;
    // }
</script>