body {
    font-family: 'Roboto', sans-serif;
}
/* Nav Bar */
.nav {
    background-color: lightgrey;
    padding: 5px;
}
.nav-links {
    display: flex;
}
.nav-link {
    margin: 0px 10px;
}
a, a:visited {
    text-decoration: none;
    color: black;
}
/* Reddit Lower Header Bar */
.title-bar {
    background-color: cornflowerblue;
    padding: 30px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.title-bar .title-name {
    padding-bottom: 5px;
}
.title-bar .search {
    padding-bottom: 5px;
}
.title-bar button {
    color: lightgray;
    box-shadow: 1px 1px 3px black;
    color: black;
    border: none;
    padding: 3px 5px;
    border-radius: 2px;
    margin-left: 5px;
}
.title-bar .login-buttons {
    padding-bottom: 4px;
}
.title-bar .tab {
    background-color: lightgray;
    border: 1px solid black;
    border-bottom: none;
    padding: 5px;
    margin-left: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.title-bar .tab:hover {
    cursor: pointer;
}
/* Tweets */
